*.iml
.gradle
local.properties
/.idea
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
.artifacts
*.hprof
.kotlin

# Keystore
*.jks
*.keystore
keystore.properties

# Firebase
app/google-services.json
